body {
	background:#999;
	font-family: arial;
}

h1, h2, li {
	color:#000;
}

a {
	color:blue;
}

p{
	background: #555;
	color: white;
	padding: 10px;

}

#tertiary{
	background: #555;
	color:red;
	padding: 10px 20px 10px 20px;
}

.secondary{
	background: #555;
	color:yellow;
	padding: 10px 20px 10px 20px;
}
